@media screen and(min-width: 320px)and(max-width: 359px){
    html{
        font-size: 12.8px;
    }
}
@media screen and(min-width: 360px)and(max-width: 374px){
    html{
        font-size: 14.4px;
    }
}
@media screen and(min-width: 375px)and(max-width: 385px){
    html{
        font-size: 15px;
    }
}
@media screen and(min-width: 386px)and(max-width: 392px) {
    html {
        font-size: 15.44px;
    }
}
@media screen and(min-width: 393px)and(max-width: 400px){
    html{
        font-size: 16px;
    }
}
@media screen and(min-width: 401px)and(max-width: 414px){
    html{
        font-size: 16.48px;
    }
}
@media screen and(min-width: 750px)and(max-width: 799px){
    html{
        font-size: 30.72px;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: #efefef;*/
    background-image: url("/images/index-bg.png");
}

.main {
    /*background-color: white;*/
    /*margin: 30px;*/
    margin: 30px;
    background-color: #fff;
    box-shadow: 6px 6px 10px gray;
    border-radius: 4px;
}

.btn-success {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.section {
    margin-top: 15px;
}

.question-title {
    margin-top: 30px;
}

.question-tag {
    margin-right: 5px;
    cursor: pointer;
}

.question-related {
    line-height: 20px;
    font-size: 15px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.question-related-li {
    margin-bottom: 5px;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.community-menu {
    font-size: 12px;
    color: #999;
    margin-bottom: 15px;
    cursor: pointer;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.comment-btn {
    float: right;
    margin-bottom: 10px;
}

.comments {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 15px;
    border: 1px solid #eee;
}

.sub-comments .btn {
    margin: 10px 0;
}

.comment-hr {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.img-weChat {
    width: 40%;
    /*margin-bottom: 10px;*/
}

.img-qq {
    width: 35%;
    /*margin-bottom: 10px;*/
}

.publish-tag {
    cursor: pointer;
}

.publish-tab-content {
    padding-top: 5px;
}

.user-oper-icon {
    width: 10%;
}

.footer-word {
    color: #888;
    text-align: center;
    padding: 30px 0 10px;
    font-size: 12px;
}

.login-body {
    background-image: url("/images/login-bg2.jpg");
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.login-main {
    box-shadow: 6px 6px 10px gray;
    border-radius: 4px;
    background-color: #fff;
}

.login-left {
    height: 100%;
    border-right: 1px solid #D2D2D2;
}

.login-right {
    height: 100%;
}

.login-other-all {
    padding: 40px 22px;
}

.login-other {
    display: block;
    height: 40px;
}

.nav {
    font-size: 13px;
}

.tag-style {
    display: inline-block;
    font-size: 13px;
    /*margin-right: 10px;*/
    /*margin-top: 8px;*/
    margin: 6px;
    cursor: pointer;
}

.tag-style:hover {
    background-color: #2d60ee;
}

.hot-tag-list {
    word-wrap: break-word;
}

.question-hot-tag-list {
    padding-left: 0;padding-bottom: 10px;
}

.nav-title-icon {
    width: 10%;
}

.question-title-left-icon {
    width: 2%;
}

.index-gif {
    margin-bottom: 10px;
    width: 80%
}

.red {
    color: red !important;
}

.user_avatar {
    width: 45px;
    height: 45px;
    border: 1px #eee solid;
}

.phone-sortQuestion{
    list-style:none;
    margin-right: 10px;
}

.profileFrame{
    height: 45rem;
}

.loginModelRow{
    margin: 1rem;
}