@media screen and(min-width: 320px)and(max-width: 359px){
    html{
        font-size: 12.8px;
    }
}
@media screen and(min-width: 360px)and(max-width: 374px){
    html{
        font-size: 14.4px;
    }
}
@media screen and(min-width: 375px)and(max-width: 385px){
    html{
        font-size: 15px;
    }
}
@media screen and(min-width: 386px)and(max-width: 392px) {
    html {
        font-size: 15.44px;
    }
}
@media screen and(min-width: 393px)and(max-width: 400px){
    html{
        font-size: 16px;
    }
}
@media screen and(min-width: 401px)and(max-width: 414px){
    html{
        font-size: 16.48px;
    }
}
@media screen and(min-width: 750px)and(max-width: 799px){
    html{
        font-size: 30.72px;
    }
}

body {
    /*background-color: #efefef;*/
    background-image: url("/images/index-bg.png");
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-success {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.section {
    margin-top: 15px;
}

.question-title {
    margin-top: 30px;
}

.question-tag {
    margin-right: 5px;
    cursor: pointer;
}

.question-related {
    line-height: 20px;
    font-size: 15px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.question-related-li {
    margin-bottom: 5px;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.community-menu {
    font-size: 12px;
    color: #999;
    margin-bottom: 15px;
}

.jumbotron {
    margin: 50px;
}

.media-body {
    padding-top: 5px;
}

.comment {
    margin: 10px 0;
}

.comment-btn {
    float: right;
    margin-bottom: 10px;
}

.comments {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 15px;
    border: 1px solid #eee;
}

.sub-comments .btn {
    margin: 10px 0;
}

.comment-hr {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.img-weChat {
    width: 40%;
}

.publish-tag {
    cursor: pointer;
}

.publish-tab-content {
    padding-top: 5px;
}

.user-oper-icon {
    width: 10%;
}

.footer-word {
    color: #888;
    text-align: center;
    padding: 30px 0 10px;
    font-size: 12px;
}
