<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="nav">
    <nav class="navbar navbar-default top-nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">高亮</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="font-size: 15px;">阅问社区</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" action="/" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" placeholder="输入问题...">
                    </div>
<!--                    <button type="submit" class="btn btn-default">搜索</button>-->
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a type="button"  data-toggle="modal" data-target="#myModal" style="cursor:pointer;">
                            须知
                        </a>
                    </li>
                    <li th:if="${session.user == null}">
                        <a data-toggle="tooltip" data-placement="bottom" title="请登录" >提问</a>
                    </li>
                    <li th:if="${session.user != null}">
                        <a href="/publish">提问</a>
                    </li>
                    <li th:if="${session.user == null}">
                        <a data-toggle="tooltip" data-placement="bottom" title="请登录" href="/profile/replies">通知
                        </a>
                    </li>
                    <li th:if="${session.user != null}">
                        <a th:if="${session.unreadCount==0}" data-toggle="tooltip" data-placement="bottom" title="0" href="/profile/replies">通知
                        </a>
                        <a th:if="${session.unreadCount!=0}" href="/profile/replies">通知
                            <span th:if="${session.unreadCount!=0}">
                                <span class="badge" th:text="${session.unreadCount}"></span>
                            </span>
                        </a>
                    </li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="${session.user.name}"></span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/questions">我的问题</a></li>
                            <li><a href="/profile/replies">最新回复</a></li>
                            <li><a href="#">个人资料</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:unless="${session.user != null}">
                        <a  type="button"  data-toggle="modal" data-target="#loginModal" style="cursor:pointer;">登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        用户须知 ^_^
                    </h4>
                </div>
                <div class="modal-body">
                    &emsp;&emsp;欢迎大家来到本站，为了您的良好体验，如果发现bug请务必联系我， 您也可以提出对本站的建议，非常感谢，可以扫描
                    <b>首页右下的二维码</b>
                    加我好友，顺便交个朋友~
                    <br>
                    &emsp;&emsp;更多功能正在开发中...
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <b>获取本站源码：</b>
                        <img src="/images/github.svg" style="width: 5%">
                        <a href="https://github.com/GAhlin/community">GitHub</a>
                        &nbsp;如果对您有帮助，恳请一个
                        <b>star</b>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="loginModalLabel">
                        请选择快捷登录方式！
                    </h4>
                </div>
                <div class="modal-body" style="text-align: center">
                    <div class="row loginModelRow">
                        <img src="/images/github.svg" style="width: 5%">
                        <a th:href="@{https://github.com/login/oauth/authorize(client_id=${@environment.getProperty('github.client_id')},redirect_uri=${@environment.getProperty('github.redirect_uri')},scope='user',state=1)}">GitHub登录</a>
                    </div>
                    <div class=" row loginModelRow">
                        <img src="/images/gitee.svg" style="width: 5%">
                        <a th:href="@{https://gitee.com/oauth/authorize(client_id=${@environment.getProperty('gitee.client_id')},redirect_uri=${@environment.getProperty('gitee.redirect_uri')},response_type='code',scope='user_info',state=1)}">Gitee登录</a>
                    </div>
                    <div class="row loginModelRow">
                        <img src="/images/QQ.svg" style="width: 5%">
                        <a th:href="@{https://github.com/login/oauth/authorize(client_id=${@environment.getProperty('github.client.id')},redirect_uri=${@environment.getProperty('github.redirect.uri')},scope='user',state=1)}">QQ登录</a>
                    </div>
                </div>
                <div class="modal-footer">
                    推荐使用QQ登录哦！
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

</body>

</html>